@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------------------------colours */
.bg-color-cc-page {
    background-color: #c5520f;
}

/*------------------------------------------special paddings/margins/text */

/*------------------------------------------heading */

header {
    margin: 0;
}

.logo {
    background: url("../images/CapCreat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    /*tranition
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    */

    /*------------------------------------------hover.css */

    /*------------------------------------------footer */