@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------------------------colours */
.bg-color-cc-page {
    background-color: #c5520f;
    float: left;
}

/*------------------------------------------special paddings/margins/text */

/*------------------------------------------heading */
.logo {
    background: url("../images/CapCreat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;

    /*------------------------------------------hover.css */

    /*------------------------------------------footer */